@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
  #LeaderBoard{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./Images/controller-bg.jpg');
    background-position: center;
    background-size: cover;
  }

#container{
  display: flex;
  min-width: 35em;
  min-height: 40em;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background:linear-gradient(to right,#004f94,#006398,#004f94);
  border-radius: 25px;
  overflow: hidden;
}
#container>div a{
  text-decoration: none;
  color: rgb(239, 239, 239);
  
}
#container>div{
  display: grid;
  color: rgb(239, 239, 239);
  grid-template-columns: 1fr 4fr 2fr;
  text-shadow: 1px 1px 2px black;
  padding: 10px;
  font-size: 1.3em;
  font-weight: 700;
  background:linear-gradient(#20b6b7,#1eb0b3) ;
  border-radius: 20px;
  margin:7px 30px;
  z-index: 2;
  filter: drop-shadow(1px 1px 2px #222); 
  font-family: 'Lemon', serif;
letter-spacing: 2px;
}

.grid-title{
  padding: 0px 30px !important;
  font-size: 1.2em !important;
  background:linear-gradient(to right,#00499d4d,#004a9d,#00499d4d) !important;
  border-radius: 0px !important;
  margin:12px 0px !important;
}
.grid-title1{
  width: fit-content;
  grid-template-columns: 1fr 4fr 1fr !important;
  align-self: center;
  padding: 0px 0px !important;
  font-size: 1.2em !important;
  background:linear-gradient(to right,#00499d00,#004a9d,#00499d00) !important;
  border-radius: 0px !important;
  margin:12px 0px !important;
}

#container>img{
  position: absolute;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: 0;
  
}

#container>div>div{
  z-index: 1;
  text-align: center;
}

.trophy-icon{
  color: #e7cd3a;
  filter: drop-shadow(1px 1px 2px #222); 
  margin-right: 4px;
}